<div class="background-photo">
    <div class="whole log-whole">
        <%= form_tag("/login") do %>
            <div class="block">
                <h2>LOG IN</h2>
                <div class="input">
                    <p>email</p>
                    <input name="email">
                </div>
                <div class="input">
                    <p>password</p>
                    <input name="password" type="password">
                </div>
            </div>
            <input type="submit" value="Start" class="button start">
        <% end %>
    </div>
</div>    