<div class="background-photo">
        <%= form_tag("/login", class: 'whole log-whole') do %>
            <div class="block">
                <h2>ログイン</h2>
                <div class="input">
                    <p>email</p>
                    <input name="email">
                </div>
                <div class="input">
                    <p>password</p>
                    <input name="password" type="password">
                </div>
            </div>
            <input type="submit" value="Start" class="button start">
        <% end %>
</div>    