<h2>ログイン</h2>

<%= form_tag("/login") do %>
    <div class="login-contents">
        <div class="login-user">
            メールアドレス<input name="email" value="<%= @email %>">
        </div>
        <div class="login-user">
            パスワード<input name="password" type="password">
        </div>
    </div>
    <input type="submit" value="ログイン">
<% end %>