<h2>新規登録</h2>

<%= form_tag("/users/create") do %>

    <p>ニックネーム</p>
    <input name="name" value="<%= @user.name %>">

    <p>姓名</p>
    <input name="real_name" value="<%= @user.real_name %>">

    <p>email</p>
    <input name="email" value="<%= @user.email %>">

    <p>期(0-10)</p>
    <input name="grade"><p>期生</p>

    <p>password</p>
    <input name="password" type="password">
    
    <input type="submit" value="登録">
<% end %>