<div class="top">
  <h1>Help</h1>
</div>

<div class ="content">
  <h1>新規登録<h1>
  
  <h2>ニックネーム</h2>
  <p>いろいろなところで表示される名前です。</p>

  <h2>姓名</h2>
  <p>自分の氏名を記入します。ユーザページ以外においてのみ表示されます。</p>

  <h2>期</h2>
  <p>Axisの何期生かを区別するための情報です。運営の方は 0 を選択してください。</p>

  <h2>email</h2>
  <p>メールアドレスを記入します。</p>

  <h2>password</h2>
  <p>ログイン時に必要なパスワードを入力してください。他サービスと同一のパスワードは避けてください。</p>
</div>

<div class="content">

  <h1>投稿の仕方</h1>
  <p>投稿はさまざまな挑戦をした際の記録となる役割を果たします。</p>
  <p>自分がどのようなことを思っていたのか簡単に分かるようにすることで振り返りを容易にします。</p>
  <p>自分が挑戦してきた道のりを表現し、振り返る時間を作れるようにします。</p>
  <p>ただし、これらはあくまで基準であって基本はユーザーのみなさんの自由な投稿を行ってください。</p>

  <h2>タイトル</h2>
  <p>そのイベントを簡単に表すものを書きます</p>

  <h2>背景</h2>
  <p>そのイベントが起きるまでの背景を書きます。</p>
  <p>事実など客観的な情報を載せることで事実と意見を区別します。</p>

  <h2>意図</h2>
  <p>そのイベントをなぜ起こしたか？ そのイベントはどのような目的があったのか?ということを記録します。</p>

  <h2>行動</h2>
  <p>そのイベントを通してどんな行動を起こしたのか？ということを記録します。</p>
  <p>次に取る行動のヒントになるかもしれません。</p>

  <h2>変化</h2>
  <p>そのイベントが起こったことでどのような変化が起きたのかを書きます。</p>
  <p>複数のイベントが影響しているものでも記録してみてください。</p>
</div>

<div class="content">
  <h1>投稿の編集</h1>
  <p>投稿の際と同じ手順で更新できます。</p>
</div>

<%# TODO a page is only for help needed like twitter %>