<div class="background-photo">
    <div class="whole">
        <h1>AXIS Portfolio</h1>
        <p>- 挑戦の記録 -</p>
        <div class="button-set">
            <a href="/users/new" class="button up">SIGN UP</a>
            <a href="/login" class="button in">LOG IN</a>
        </div>
    </div>
</div>